GraphiteHost = "192.168.1.2"
GraphitePort = 2010

[[Accounts]]
AwsAccessKey = "?"
AwsSecretKey = "?"
	[[Accounts.Templates]]
		Namespace = "AWS/RDS"
		Region = "ap-southeast-2"
		Backfill = 300
		Period = 60
		Interval = 120
		CustomKeyFormat = "some_product.dev_environment.rds-stuff.%0.%m"
		Statistics = ["Sum"]
		DimensionList = [
			["DBInstanceIdentifier",""]]
	[[Accounts.Templates]]
		Namespace = "AWS/EC2"
		Region = "ap-southeast-2"
		Backfill = 300
		Period = 300
		Interval = 300
		CustomKeyFormat = "some_product.dev_environment.ec2-simple.%0.%m"
		Statistics = ["Sum"]
		DimensionList = [
			["InstanceID",""]]